.timepicker__current > span {
  width: 33px;
  display: inline-block;
  cursor: pointer;
}
.timepicker__current > span.timepicker__current-timepart {
  font-weight: 700;
  font-size: 14px;
  margin-left: -3px;
  cursor: auto;
}
.timepicker__clockback {
  background: #26b11b;
  width: 220px;
  padding: 20px;
}
.timepicker__clockface {
  width: 220px;
  height: 220px;
  margin: 0;
  padding: 0;
  background: #009623;
  color: #FFFFFF;
  border-radius: 110px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: background 200ms;
}
.timepicker__hours > div,
.timepicker__minutes > div{
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 17px;
  text-align: center;
  transition: background 200ms;
  color: #000000;
}
.timepicker__hours > div.timepicker-hour--enabled,
.timepicker__minutes > div.timepicker-minute--enabled {
  color: #FFFFFF;
  z-index: 10;
}
.timepicker__hours > div.timepicker-hour--enabled:hover,
.timepicker__minutes > div.timepicker-minute--enabled:hover,
.timepicker__time > div:hover {
  cursor: pointer;
}
.timepicker__hours > div.timepicker-hour--enabled:hover,
.timepicker__minutes > div.timepicker-minute--enabled:hover,
.timepicker__hours--selected,
.timepicker__minutes--selected {
  background: #0a6d12;
  color: #FFF !important;
}
.timepicker__hours > div.timepicker-hour--enabled:active,
.timepicker__minutes > div.timepicker-minute--enabled:active {
  background:  #0a6d12
}

.timepicker__time > div {
  height: 220px;
  width: 107px;
  display: inline-block;
  text-align: center;
  text-decoration: underline;
}

.timepicker__am > div,
.timepicker__pm > div {
  margin-top: 97px;
}
div.timepicker__pm {
  border-top-right-radius: 220px;
  border-bottom-right-radius: 220px;
  background: #0a6d12;
  width: 107px;
}

div.timepicker__desc {
  color: #00AD28;
  position: relative;
  top: 113px;
  width: 100%;
}

.timepicker-hand {
  height: 0;
}
.timepicker-hand__container {
  position: relative;
  height: 180px;
  width: 180px;
  top: 20px;
  margin: 0 auto;
  transition: transform 300ms;
  z-index: 5;
}

.timepicker-hand__center {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  position: relative;
  top: 84px;
  margin: 0 auto;
}
.timepicker-hand__stick {
  border: 2px solid #FFFFFF;
  height: 65px;
  width: 0;
  position: relative;
  margin: 0 auto;
  top: 14px;
}